* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Section */
header {
    background-color: #354F52;
    color: #fff;
    font-family: 'Caveat', cursive;
    font-family: 'Judson', serif;
    padding: 0.625rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 3.125rem;
    height: 3.125rem;
    margin-left: 1.25rem;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 1.25rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #F9C80E;
}

.active hr {
    margin: 0;
    width: 22%;
}

/* Main Section */
.row {
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.container {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.column {
    flex: 0%;
    padding: 1.25rem;
}

.container-1 {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.column-1 {
    flex: 0%;
    padding: 1.25rem;
}

.container-2 {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.column-2 {
    flex: 50%;
    padding: 0.625rem;
}

.container-3 {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.column-3 {
    flex: 50%;
    padding: 0.625rem;
}

.container-4 {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.column-4 {
    flex: 0%;
    padding: 1.25rem;
}

.image {
    display: block;
    width: 20rem;
    min-width: 25rem;
    height: 15.625rem;
    object-fit: cover;
    object-position: right;
    border-radius: 1.25rem;
    margin: 0 auto;
}

/* Footer Section */
footer {
    background-color: #354F52;
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding: 2.5rem 1.25rem;
}

.credits{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    justify-content: space-between;
    display: none;
}

.social-icons{
    display: flex;
    justify-content: flex-start;
    padding: 0 30px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Media query for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Tablet styles */
    header {
        padding: 15px;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

    nav ul {
        justify-content: center;
    }
}