* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #354F52;
    color: #fff;
    font-family: 'Caveat', cursive;
    font-family: 'Judson', serif;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #F9C80E;
}

.active hr {
    margin: 0;
    width: 22%;
}

/* Contact Form With Map */
.ffbox {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.ffbox > div {
    flex: 1;
    min-width: 300px; /* Adjust as needed */
    margin: 10px;
}

.ffbox1 {
    background-color: #f0f0f0; /* Example background color */
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.ffbox1 label {
    display: flex;
    align-items: center;
}
.ffbox1 input,
.ffbox1 textarea {
    margin-top: 5px;
    width: 80%;
    line-height: 15px;
    padding: 10px;
}
form button {
    display: block;
    background-color: #354F52;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #F9C80E;
    color: #354f52;
}

.map-div {
    background-color: #f9f9f9; /* Example background color */
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .ffbox > div {
        flex-basis: 100%;
    }
}

footer {
    background-color: #354F52;
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

.credits{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    justify-content: space-between;
    display: none;
}

.social-icons{
    display: flex;
    justify-content: flex-start;
    padding: 0 30px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Media query for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Tablet styles */
    header {
        padding: 15px;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

    nav ul {
        justify-content: center;
    }
}